@media screen and (min-width:768px)
	#contenido
		aside
			float left
			height auto
			margin 0 1.5% 0 0
			width 48%
		aside:hover
			height auto
		.contenido_item
			width 48%
		.item_info
			h2
				font-size 1.3em

@media screen and (min-width:1280px)
	#contenido
		aside
			width 30%
		.contenido_item
			width 30%
